#Files of Lab1
lab1/.idea/
lab1/lab1.iml
lab1/out/
lab1/target/
#Files of Lab2
lab2/.idea/
lab2/lab2.iml
lab2/out/
lab2/target/
#Files of Lab3
lab3/.idea/
lab3/lab3.iml
lab3/out/
lab3/target/
#Files of Lab4
lab4/.idea/
lab4/lab4.iml
lab4/out/
lab4/target/
